/* Footer */
$footer-bg: contrast-color($body-bg, darken($body-bg, 5%), lighten($body-bg, 10%), 50%);
$footer-text: contrast-color($footer-bg, mix(#000,$body-bg,55%), mix(#fff,$body-bg,55%), 50%);
$footer-meta-bg: contrast-color($body-bg, darken($body-bg, 10%), lighten($body-bg, 30%), 50%);
$footer-meta-text: contrast-color($footer-meta-bg, mix(#000,$body-bg,55%), mix(#fff,$body-bg,55%), 50%);
$footer-link-color: contrast-color($body-bg, lighten($body-font-color, 20%), lighten($body-bg, 50%), 50%);

#footer {
	margin: 0 auto;
	padding: ($panel-padding * 1.5) 0 ($panel-padding * 1.2);
	background-color: $footer-bg;
	color: $footer-text;

	a {
		transition: .2s all linear;
		color: $footer-link-color;

		&:hover {
			opacity: .7;
		}
	}

	abbr {
		//color: $neutral-color;
	}

	.url {
		padding-left: 0;
		background: none;
	}

}

#footer-meta{
	text-align: center; // center text on mobile
	padding: 20px 0;
	font-size: .9em;
	letter-spacing: .01em;
	background-color: $footer-meta-bg;

	&,
	#menu-social ul li a:before{
		color: $footer-meta-text;
	}

	@media screen and (min-width: 641px){
		text-align: left; // align text on desktop
	}
}