/* Location */

.ctfw-google-map {
  display: block;
  min-height: 400px;
}


// Individual Location Item
// 
// appears on Multi and Single Location pages
//
.ctc_location {  
  
}

.uplifted-event-full-map,
.uplifted-event-full-direction {
  margin-bottom: $panel-margin-bottom;
}