/* Pages */

.single,
.page{
  #container {
    padding-top: 3em;
  }

  .ctfw-breadcrumbs + #container{
    padding-top: 0;
  }
}


// some page titles have a sub-header
.uplifted-main-title > span {
  font-size: .6em;
  color: lighten($topbar-link-color, 50%);
}

// set the page body text to be based off of site background color, light or dark
.uplifted-content-block {
  color: contrast-color($body-bg, $body-font-color, lighten($body-bg, 70%), 50%); // covers p elements and text not wrapped in elements

  h1, h2, h3, h4, h5, h6 {
    color: contrast-color($body-bg, $body-font-color, lighten($body-bg, 70%), 50%);
  }
}

#uplifted-sermon-full-player{
  margin-bottom: 3em;
}

//
// Search Page
//
.search-results {
	h1 {
		font-size: emCalc(30px);

		#search-terms {
			color: $primary-color;
		}
	}
}

//
// Gallery Page
//

// must overwrite standart .panel styles of the archive page
body.term-post-format-gallery #content > .panel {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.term-post-format-gallery {

  h1.archive-title { display: none; }
}

//
// Single Attachments Page
//

.single-attachment {

  #uplifted-content .hentry {
    background-color: white;
    margin-bottom: $panel-margin-bottom;
    padding: $panel-padding;
    border: $panel-border;
  }

  .entry-header {
    word-wrap: break-word;

    h1 {
      margin-top: 0;
    }
  }

  .entry-attachment {
    margin: 0 (-$panel-padding) 1.5em;
    position: relative;

    // shouldn't need this, but do. Make img element 100% width
    .attachment img {
      width: 100%;
    }

    .previous-image,
    .next-image {
      position: absolute;
      top: 45%;
      left: 0;

      a {
        background-color: $primary-color;
        color: #fff;
        position: relative;
        width: 60px;
        height: 0;
        padding-top: 35px;
        display: inline-block;
        overflow: hidden;
        &:hover {
          background-color: $anchor-font-color-hover;
        }

        &:before {
          font-family: "flexslider-icon";
          font-size: 18px;
          content: '\f001';
          position: absolute;
          top: 30%;
          left: 39%;
        }
      }

    }
    .next-image {
      right: 0;
      left: auto;

      a:before {content: '\f002';}
    }
  }

  .entry-meta {
    font-size: .7em;
    font-weight: bold;
    color: lighten($topbar-link-color, 50%);

    a {
      color: $body-font-color;
      &:hover {
        color: $primary-color;
      }
    }
  }

  .entry-description {
    line-height: $paragraph-line-height;

    // if there is a description, padding will be added to space
    // away from meta data, but clear global margin of p element
    p {
      margin: 1.5em 0 0 0;
    }
  }
}

//
// Homepage
//

.page-template-page-templateshomepage-php {

  #container {
    width: auto;
    padding: 0;
    float: none;
    overflow: auto;
    max-width: none;
  }

  // for slides with a video embed
  .uplifted-slide-video{
    .flex-play-overlay{
      @extend .genericon;
      @extend .genericon-play;

      border-radius: 50px;
      border: 2px solid white;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 26px;
      margin-bottom: 4px;
      font-size: 15px;
      z-index: 999;
      background-color: rgba(0,0,0,.4);

      &:before{
        color: white;
        left: 1px;
        position: relative;

        @media screen and (min-width:$medium-screen){
          left: 2px;
        }

      }

      @media screen and (min-width:$medium-screen){
        border-width: 4px;
        width: 60px;
        height: 60px;
        line-height: 52px;
        font-size: 30px;
        margin-bottom: 0;
      }
    }

    a:hover {

      .flex-play-overlay{
        background-color: $primary-color;
      }
    }

    &.visible .flex-play-overlay{
      display: none;
    }
  }

  //#uplifted-slider-boxes,
  #uplifted-intro,
  #uplifted-home-bottom-widgets {
    @include grid-row;

    & .row > div.large-4:nth-child(3n+1) {
      clear: both; // clear the floats so we have a working grid of three
      float: left; // I know this is weird, don't know why any of this is necessary
    }
    & .row > div.large-4:last-child {
      float: left; // yup, this is weird but need to float the last element to overwrite the
                      // typical way the Foundation grid works
    }
  }

  //#uplifted-slider-boxes,
  .uplifted-intro-wrapper,
  #uplifted-home-bottom-widgets {
    margin-bottom: 3em;
  }

  .uplifted-intro-wrapper {
    background-color: contrast-color($body-bg, darken($body-bg, 5%), lighten($body-bg, 10%), 50%); // set section bg color based off of site background color, either lighten or darken
    padding: $panel-padding 0;
    border: $panel-border-size $panel-border-style contrast-color($body-bg, darken($body-bg, 10%), lighten($body-bg, 15%), 50%);
    border-left: none;
    border-right: none;
    color: contrast-color($body-bg, $body-font-color, lighten($body-bg,70%), 50%);

  }

  //#uplifted-slider,
  #uplifted-intro-inner {
    @include grid-column(12);
  }


// welcome text
  #uplifted-intro-inner {
    text-align: center;

    #uplifted-intro-heading {
      font-size: emCalc(32);
      color: contrast-color($body-bg, $body-font-color, lighten($body-bg,70%), 50%);
      border-bottom: 3px solid contrast-color($body-bg, darken($body-bg, 10%), lighten($body-bg,25%), 50%);
      display: inline-block;
      text-align: center;
      padding-bottom: .3em;
      margin-bottom: 1em;
    }

    .panel {
      padding-bottom: $panel-margin-bottom;
      max-width: 800px;
      margin: 0 auto;

      @media screen and (min-width: $small-screen) {
        padding-top: $panel-margin-bottom;
      }
    }

    #uplifted-intro-content {

      @media screen and (min-width: $small-screen) {
        font-size: 1.2em;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  #ctcom-home-highlights{
    margin-left: .9375em;
    margin-right: .9375em;
  }

  // two widget blocks below image slider
  .uplifted-highlight {
    margin: 1.875em 0;
    @include grid-column(6);

    a {
      display: block;
      position: relative;
    }

    img {
      display: block;
    }
  }

  .uplifted-caption-image-caption {
    color: $body-font-color;

    @media screen and (max-width: 640px) {
      padding: 1em;
    }
  }

  .slides .uplifted-caption-image-caption {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1) 65%, rgba(0,0,0,.6));
  }

  @media screen and (min-width: 641px){

    .flexslider {
      margin-bottom: 0;
    }

    #ctcom-home-highlights {
      @include grid-row;
    }

    .uplifted-caption-image-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      color: white;
      padding: 20px;
      background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.1) 35%, rgba(0,0,0,.1));

      .uplifted-caption-image-title {
        color: white;
        margin-bottom: .25em;
      }
      .uplifted-caption-image-description {
        color: $neutral-color;
      }
    }

    #uplifted-home-bottom-widgets {

        .uplifted-sermons-widget-entry-icons {
          display: none;
        }
      }
    }
  }
//}